
.center {
  text-align: center;
}
.bordered {
  border: #1f1f1f 1px dotted;
}
.page-title {
  justify-content: center;
  font-size: xx-large;
}

.page-content {
  flex-direction: row;
  display: flex;
}
.navigation-row {
  flex-direction: row;
  display: flex;
}